@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>@Umbraco.Field("siteTitle", recursive: true)</title>
	
	<meta name="description" content='@Umbraco.Field("metaDescription")'>
	<meta name="keywords" content='@Umbraco.Field("metaKeywords")'>
	<meta name="author" content="Liga Daine">

	<meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
	 <link href="css/style.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>

	<div class="container">
		<header>
			<h1 id="title">@Umbraco.Field("siteTitle", recursive: true)</h1>
		</header>
		<nav class="navbar navbar-default">
			<div id="container-fluid">
			  <div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
			  </div>
			  <div id="navbar" class="navbar-collapse collapse">
				  @{var root = CurrentPage.AncestorOrSelf(1);}  
				<ul class="nav navbar-nav navbar-right">
					<li class="@((CurrentPage.Name == root.Name) ? "active" : null)">
						<a href="@root.Url">Home</a>
					</li>

					@foreach(var page in root.Children){
						<li class="@(page.IsAncestorOrSelf(CurrentPage) ? "active": null)">
							<a href="@page.Url">@page.Name</a>
						</li>
					}
				  
					<!-- DROP DOWN MENU-->
					@{var umbracoDropdown = 
							root
							.Children
							.Where("DocumentTypeAlias=\"projectsMain\"")
							.First()
							.Children
							.Where("Visible")
							.OrderBy("Name");
					 }
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" 
						  data-toggle="dropdown" 
						  role="button" 
						  aria-haspopup="true" aria-expanded="false">
						  Our Projects 
						  <span class="caret"></span>
					</a>
					
					<ul class="dropdown-menu">
						@foreach(var page in umbracoDropdown){
							//Displaying only projects, which are completed
							var test =  umbraco.library.GetPreValueAsString(page.projectStatus);
							
							if (test == "Completed"){
								<li><a href="@page.Url">@page.Name</a></li>
							}
						}
					  </ul>
			      </li>
				</ul>
			  </div>
			</div>
		</nav>
						  
			@RenderBody()
	
		<footer class="wrapper">
			<h3>@Umbraco.Field("footer", recursive: true)</h3>
		</footer>
	</div>

</body>
</html>